/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

/*Variables*/
:root {
    --font: 'Public Sans', san-serif;
    --blue: #1F4373;
    --green: #96A61F;
    --yellow: #BF9004;
    --brown: #73532D;
    --red: #A64037;
    --dark-gray: #2E2E2E;
    --white: #ffffff
}
/*Global styling*/
body {
    min-height: 100vh;
    min-width: 320px;    
    margin: 0 auto;
    

}

/*Font Styling*/
h1, h2, h3, h4{
    font-family: var(--font);
    font-weight: 700;
    color: var(--dark-gray)

}

p, li {
    font-family: var(--font);
    font-weight: 400;
    color: var(--dark-gray)
}


li {
    list-style-type: none;
}

h1{
    font-size: 2em;
    margin: 0.5em 0;
    display: inline;
}

h2{
    font-size: 1.50em;
    display: inline;
}

/*Image Styling*/
img{
    display: block;
    max-width: 100%;
    margin: 0.5em 0;
}

/* ----- Skip Link Style ----- */
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/*Header Styling*/
header {
    display: inline-flex;
}

header h1 {
    font-size: 1.5rem;
    padding-top: .5em;
    padding-left: .5em;
}

header svg {
    padding-right: 3em;
    padding-top: 1.5em;
}

/*Main Styling*/
.hero-image {
background-image: linear-gradient(rgba(238, 233, 233, 0.5), rgba(225, 214, 214, 0.5)), url("/images/hero.jpg");
height: 20em;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
    margin: 0 auto;
    padding-top: 2em;
    padding-left: 1em;
}
.hero-text h2 {
    font-size: 2rem;
}

.hero-text p {
    padding-top: 2em;
    padding-bottom: 2em;
}

.hero-text button {
    color: var(--white);
    background-color: var(--dark-gray);
    }

#categories {
    padding-top: 50px;
}

#categories h2 {
    font-weight: 700;
}